.proc{

	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	text-align: center;
	background-color: #808080;
	margin:1% 30% 2% 30% ;
}
.proc1{

	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	text-align: center;
	background-color: #808080;
	margin:1% 30% 8% 30% ;
}
.proc3{

	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	text-align: center;
	margin:1% 10% 8% 10% ;
}
.proc4{

	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	text-align: center;
	background-color: #808080;
	margin:1% 30% 20% 30% ;
}
